
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Space between event details and form */
    height: 100vh;
  }
  .event-details {
    max-width: 600px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify; /* Justify text for a clean look */
  }
.event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    
  }
  .form-container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .event-content {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  

.event-content h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  /* Paragraph styling */
  .event-content p {
    text-align: center;
    color: #7f8c8d;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  /* Form styling */
  .event-form label {
    display: block;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 5px;
  }
  
  /* Input and Select styling */
  .event-form input,
  .event-form select {
    width: 50%;
    max-width: 300px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    color: #333;
  }
  .success-message {
    padding: 15px;
    color: green;
    background-color: #e7f6e7;
    border-radius: 5px;
    text-align: center;
  }
  .event-form input:focus,
  .event-form select:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.2);
  }
  
  .submit-btn {
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  }
  
  .submit-btn:hover {
    background-color: #2980b9;
  }
  